################################
# Ganymede                     #
# Version ${BUILD_VERSION}            #
# Built at ${BUILD_DATE} #
################################

# Characters used for Stash Tabs
#   Currency in Orange ≡
#   Divination in Light Blue Φ 
#   Maps in [COLOR] Θ 
#   Essence in Dark Blue ☼ 
#   Fragments in Pink ×
#   Unique Tab in Dark Brown U
#   Leveling in Yellow L
#   Chaos Recipe in Black
#   
# Θ¿®♪♫♫☼◄►☼©¢

# INFO #
# CustomAlertSound (FILENAME or FILEPATH)
# MinimapIcon (SIZE COLOR SHAPE) 0, 1, 2 & Red, Green, Blue, Brown, White, Yellow & Circle, Diamond, Hexagon, Square, Star, Triangle
# PlayEffect (COLOR) [TEMP] Red, Green, Blue, Brown, White, Yellow
#
# INCLUDE PANTHEON SOUL

#####################
# LEAGUE (BETRAYAL) #
#####################

Show
  Class "Map Fragments"
  BaseType "Scarab"
  PlayAlertSound 5 300
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

Show
  HasExplicitMod "Veil"
  PlayAlertSound 5 300
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red
  
##################
# LEAGUE (DELVE) #
##################

Show
  BaseType "Timeworn Reliquary Key"
  PlayAlertSound 5 300
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

Show
  BaseType Fossil Resonator
  Class "Currency"
  PlayAlertSound 5 300
  ${COLOR_LEAGUE_SPECIFIC}

Show
  Class "Delve Socketable Currency"
  PlayAlertSound 5 300
  ${COLOR_LEAGUE_SPECIFIC}

######################
# LEAGUE (INCURSION) #
######################

Show
  BaseType "Flashpowder Keg" "Stone of Passage" "Vial of"
  PlayAlertSound 5 300
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

Show
  Class "Incursion Item"
  PlayAlertSound 5 300
  ${COLOR_LEAGUE_SPECIFIC}

######################
# LEAGUE (BESTIARY) #
######################

Show
  BaseType "Bestiary Orb" "Rope Net" "Iron Net" "Steel Net" "Thaumaturgical Net" "Necromancy Net"
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

##################
# LEAGUE (ABYSS) #
##################

Show
  BaseType "Stygian Vise"
  ${COLOR_LEAGUE_SPECIFIC}

######################
# LEAGUE (HARBINGER) #
######################

# OPTIONAL: INCLUDE SHARDS HERE AND ORBS RELATED TO HARBINGER

###################
# LEAGUE (LEGACY) #
###################

Show
  BaseType "Ancient Reliquary Key"
  SetFontSize 45
  ${COLOR_LEAGUE_SPECIFIC}

###################
# LEAGUE (BREACH) #
###################

Show
  Class Currency
  BaseType Splinter Blessing
  SetFontSize 45
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

Show
  BaseType Breachstone
  SetFontSize 45
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

####################
# LEAGUE (ESSENCE) #
####################

Show
  Class Currency
  BaseType Essence "Remnant of Corruption"
  SetFontSize 45
  PlayAlertSound 6 300
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

#####################
# LEAGUE (PROPHECY) #
#####################

Show
  Class Currency
  BaseType "Silver Coin"
  ${COLOR_CURRENCY}

#####################
# LEAGUE (PERANDUS) #
#####################

Show
  Class Currency
  BaseType "Perandus Coin"
  ${COLOR_CURRENCY}
  PlayEffect Red

#####################
# LEAGUE (TALISMAN) #
#####################

Show
  BaseType Talisman
  ${COLOR_LEAGUE_SPECIFIC}
  PlayEffect Red

############
# CURRENCY #
############

Show
  Class Currency
  BaseType "Mirror of Kalandra" "Exalted Orb" "Divine Orb" "Mirror Shard" "Eternal Orb" "Albino Rhoa Feather" "Orb of Annulment"
  SetFontSize 45
  PlayAlertSound 8 300
  ${COLOR_CURRENCY}
  PlayEffect Brown
  MinimapIcon 0 Brown Circle

Show
  Class Currency
  BaseType "Master Cartographer's Sextant" "Journeyman Cartographer's Sextant" "Harbinger's Orb" "Ancient Orb" "Regal Orb" "Orb of Regret" "Chaos Orb" "Gemcutter's Prism" "Apprentice Cartographer's Sextant" "Stacked Deck" "Blessed Orb" "Orb of Fusing" "Orb of Alchemy" "Cartographer's Chisel" "Engineer's Orb" "Orb of Horizons" "Orb of Binding" "Bestiary Orb" "Orb of Scouring" "Vaal Orb" "Annulment Shard" "Harbinger's Shard" "Ancient Shard" "Exalted Shard" "Horizon Shard" "Engineer's Shard" "Binding Shard" "Regal Shard" "Chaos Shard"
  SetFontSize 45
  PlayAlertSound 10 300
  ${COLOR_CURRENCY}
  DisableDropSound True
  PlayEffect Brown
  MinimapIcon 0 Brown Circle

Show
  Class Currency
  BaseType "Orb of Chance" "Orb of Alteration" "Chromatic Orb" "Jeweller's Orb" "Glassblower's Bauble" "Orb of Transmutation" "Blacksmith's Whetstone" "Alchemy Shard" "Armourer's Scrap" "Orb of Augmentation" "Transmutation Shard" "Alteration Shard"
  ${COLOR_CURRENCY}

Show
  Class Currency
  BaseType "Scroll of Wisdom" "Portal Scroll"
  ${COLOR_CURRENCY}

########
# MAPS #
########

Show
  BaseType "Divine Vessel" "Offering to the Goddess"
  SetFontSize 45
  PlayAlertSound 13 300
  ${COLOR_MAPS}
  MinimapIcon 2 White Triangle
  PlayEffect White

Show
  Class "Map Fragments"
  SetFontSize 45
  PlayAlertSound 13 300
  ${COLOR_MAPS}
  PlayEffect White

Show
  Rarity Unique
  Class Maps
  ${COLOR_EQUIPMENT_UNIQUE}
  MinimapIcon 2 White Triangle
  PlayEffect White

Show
  Rarity Rare
  Class Maps
  ${COLOR_EQUIPMENT_RARE}
  MinimapIcon 2 White Triangle
  PlayEffect White Temp

Show
  Rarity Magic
  Class Maps
  ${COLOR_EQUIPMENT_MAGIC}
  MinimapIcon 2 White Triangle
  PlayEffect White Temp

Show
  Rarity Normal
  Class Maps
  ${COLOR_EQUIPMENT_NORMAL}
  MinimapIcon 2 White Triangle
  PlayEffect White Temp

#########
# QUEST #
#########

Show
  Class Quest
  SetFontSize 45
  PlayAlertSound 10 300
  ${COLOR_QUEST_ITEM}
  PlayEffect Green

Show
  Class "Pantheon Soul" Piece
  SetFontSize 45
  PlayAlertSound 10 300
  ${COLOR_QUEST_ITEM}
  PlayEffect Green

#########
# FLASK #
#########

Show
  Rarity Normal
  Quality >= 5
  Class Flask
  ${COLOR_EQUIPMENT_NORMAL}

Show
  Rarity Unique
  Class Flask
  ${COLOR_EQUIPMENT_UNIQUE}

Hide
  Rarity Rare
  Class Flask
  ${COLOR_EQUIPMENT_RARE}

Hide
  Rarity Magic
  Class Flask
  ${COLOR_EQUIPMENT_MAGIC}

Hide
  Rarity Normal
  Class Flask
  ${COLOR_EQUIPMENT_NORMAL}

##############
# DIVINATION #
##############

Show
  Class "Divination Card"
  SetFontSize 45
  PlayAlertSound 4 300
  ${COLOR_DIVINATION_ITEM}
  PlayEffect Blue
  MinimapIcon 2 Blue Circle

Show
  Class Currency
  BaseType "Stacked Deck"
  SetFontSize 45
  PlayAlertSound 4 300
  ${COLOR_DIVINATION_ITEM}
  PlayEffect Blue
  MinimapIcon 2 Blue Circle

########
# GEMS #
########

Show
  Class Gem
  BaseType Portal Empower Enlighten Enhance "Detonate Mines" "Item Quantity" "Added Chaos Damage" Vaal "Vaal Breach"
  SetFontSize 45
  CustomAlertSound "gem.wav"
  ${COLOR_GEMS}

Show
  Class Gem
  Quality >= 1
  SetFontSize 45
  CustomAlertSound "gem.wav"
  ${COLOR_GEMS}

Show
  Class Gem
  ${COLOR_GEMS}

#############
# LABYRINTH #
#############

Show
  Class "Labyrinth Item" "Labyrinth Trinket" "Labyrinth Map Item"
  SetFontSize 45
  PlayAlertSound 7 300
  ${COLOR_LABYRINTH}

##########
# SHAPED #
##########

Show
  BaseType "The Shaper's Key"
  SetFontSize 45
  ${COLOR_EQUIPMENT_SHAPED}

Show
  ShaperItem True
  ${COLOR_EQUIPMENT_SHAPED}

Show
  ElderItem True
  ${COLOR_EQUIPMENT_SHAPED}

#############
# EQUIPMENT #
#############

Show
  Sockets = 6
  SetFontSize 45
  PlayAlertSound 1 300
  ${COLOR_EQUIPMENT_VALUABLE}

Show
  LinkedSockets >= 5
  SetFontSize 45
  PlayAlertSound 1 300
  ${COLOR_EQUIPMENT_VALUABLE}

Show
  BaseType "Fishing Rod"
  SetFontSize 45
  PlayAlertSound 1 300
  ${COLOR_EQUIPMENT_VALUABLE}

Show
  SocketGroup RGB
  LinkedSockets >= 3
  ${COLOR_EQUIPMENT_CHROMATIC}

Show
  Class Amulet
  Rarity Rare
  ItemLevel >= 60
  SetFontSize 45
  ${COLOR_EQUIPMENT_RARE}
  CustomAlertSound "amulet.wav"
  MinimapIcon 2 Yellow Star

Show
  Class Ring
  Rarity Rare
  ItemLevel >= 60
  SetFontSize 45
  ${COLOR_EQUIPMENT_RARE}
  CustomAlertSound "ring.wav"
  MinimapIcon 2 Yellow Star

Show
  Rarity Unique
  Class "Abyss Jewel"
  ${COLOR_EQUIPMENT_UNIQUE}

Show
  Rarity Rare
  Class "Abyss Jewel"
  ${COLOR_EQUIPMENT_RARE}

Show
  Rarity Magic
  Class "Abyss Jewel"
  ${COLOR_EQUIPMENT_MAGIC}

Show
  Rarity Normal
  Class "Abyss Jewel"
  ${COLOR_EQUIPMENT_NORMAL}

Show
  Rarity Unique
  Class Claws Daggers Wands "One Hand" "Two Hand" Bows Staves Quivers Belts Gloves Boots "Body Armours" Helmets Shields Sceptres Amulet Ring Jewel
  ${COLOR_EQUIPMENT_UNIQUE}

Show
  Rarity Rare
  Class Claws Daggers Wands "One Hand" "Two Hand" Bows Staves Quivers Belts Gloves Boots "Body Armours" Helmets Shields Sceptres Amulet Ring Jewel
  ${COLOR_EQUIPMENT_RARE}

Hide
  Rarity Magic
  Class Claws Daggers Wands "One Hand" "Two Hand" Bows Staves Quivers Belts Gloves Boots "Body Armours" Helmets Shields Sceptres Amulet Ring Jewel
  ${COLOR_EQUIPMENT_MAGIC}

Hide
  Rarity Normal
  Class Claws Daggers Wands "One Hand" "Two Hand" Bows Staves Quivers Belts Gloves Boots "Body Armours" Helmets Shields Sceptres Amulet Ring Jewel
  ${COLOR_EQUIPMENT_NORMAL}

#############
# REMAINING #
#############

Show
  PlayAlertSound 3 300
  SetFontSize 45
  ${COLOR_REMAINING}
