##########################################
# Ganymede                               #
# Version ${BUILD_VERSION}                      #
# Built at ${BUILD_DATE}           #
# https://github.com/wiredbomb0/valkyrie #
##########################################
