##
# Abyss
##

Show
	Rarity = Unique
	BaseType "Stygian Vise"

Show
	Rarity = Rare
	BaseType "Stygian Vise"

Show
	Rarity = Magic
	BaseType "Stygian Vise"

Show
	Rarity = Normal
	BaseType "Stygian Vise"

Show
	Rarity = Unique
	Class "Abyss Jewel"

Show
	Rarity = Rare
	Class "Abyss Jewel"

Show
	Rarity = Magic
	Class "Abyss Jewel"

Show
	Rarity = Normal
	Class "Abyss Jewel"
