## GEMS
Show
  Class Gem
  BaseType Portal Empower Enlighten Enhance "Detonate Mines" "Item Quantity" "Added Chaos Damage" Vaal
  CustomAlertSound "./audio/gem.wav"
  SetFontSize 45
  {{Gem}}

Show
  Class Gem
  CustomAlertSound "./audio/gem.wav"
  SetFontSize 45
  Quality >= 1
  {{Gem}}

Show
  Class Gem
  {{Gem}}
