## DIVINATION
Show
  Class Currency
  BaseType "Stacked Deck"
  CustomAlertSound "./audio/rare.wav"
  {{Divination}}

Show
  Class "Divination Card"
  CustomAlertSound "./audio/rare.wav"
  {{Divination}}
