## JEWEL
Show
  Class "Jewel"
  Rarity Unique
  {{EquipmentUnique}}

Show
  Class "Jewel"
  Rarity Rare
  {{EquipmentRare}}

Hide
  Class "Jewel"
  Rarity Magic
  {{EquipmentMagic}}

Hide
  Class "Jewel"
  Rarity Normal
  {{EquipmentNormal}}
